---
import Page from '../layouts/Page.astro'
import { newsItems } from '../data/news'
import News from '../components/News.astro'
import { tourismItems } from '../data/tourism'
import Tourism from '../components/Tourism.astro'
---

<Page>
	<main class="max-w-[978px] mx-auto">
		<section class="py-52 flex flex-col items-center">
			<div class="rounded-full p-7 bg-white border border-black/[.04] shadow-[0_9px_5px_-5px] shadow-black/15 my-4">
				<img src="/class-meet/img/logo.png" alt="Setu Logo" class="size-20 object-cover">
			</div>
			<h1 class="text-3xl font-extrabold my-6">Kecamatan Setu</h1>
			<p class="text-center text-sm max-w-[59ch]">Website ini menyediakan semua detail mengenai Kecamatan Setu di Kabupaten Bekasi, meliputi informasi umum, sejarah, potensi daerah, fasilitas, dan layanan masyarakat.</p>
			<div class="relative group mt-14">
				<div class="p-3 h-[440px] w-max rounded-xl bg-white border border-black/15 shadow-[0_15px_13px_-5px] shadow-black/10 duration-500 ease-out absolute top-0 -z-10 -rotate-6 group-hover:-rotate-12 group-hover:-translate-x-56 group-hover:translate-y-8 no-hover:-rotate-12 no-hover:-translate-x-40 no-hover:translate-y-8">
					<img src="/class-meet/img/home1.png" alt="" class="size-80 object-cover">
				</div>
				<div class="p-3 h-[440px] w-max rounded-xl bg-white border border-black/15 shadow-[0_15px_13px_-5px] shadow-black/10">
					<img src="/class-meet/img/home2.png" alt="" class="size-80 object-cover">
				</div>
				<div class="p-3 h-[440px] w-max rounded-xl bg-white border border-black/15 shadow-[0_15px_13px_-5px] shadow-black/10 duration-500 ease-out absolute top-0 -z-10 rotate-6 group-hover:rotate-12 group-hover:translate-x-56 group-hover:translate-y-8 no-hover:rotate-12 no-hover:translate-x-40 no-hover:translate-y-8">
					<img src="/class-meet/img/home3.png" alt="" class="size-80 object-cover">
				</div>
			</div>
		</section>
		<section>
			<h2 class="text-xl font-extrabold text-center py-6 px-10 rounded-t-3xl bg-white w-fit mx-auto relative top-px	 border-t border-l border-r border-black/15">
				<svg viewBox="0 0 43 39" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline size-7 align-[-.3em] mr-[.5em]">
					<path d="M8.0625 6.0625C8.0625 3.09785 10.4729 0.6875 13.4375 0.6875H37.625C40.5896 0.6875 43 3.09785 43 6.0625V32.9375C43 35.9021 40.5896 38.3125 37.625 38.3125H6.71875C3.00664 38.3125 0 35.3059 0 31.5938V8.75C0 7.26348 1.20098 6.0625 2.6875 6.0625C4.17402 6.0625 5.375 7.26348 5.375 8.75V31.5938C5.375 32.3328 5.97969 32.9375 6.71875 32.9375C7.45781 32.9375 8.0625 32.3328 8.0625 31.5938V6.0625ZM13.4375 8.07812V14.7969C13.4375 15.9139 14.3361 16.8125 15.4531 16.8125H24.8594C25.9764 16.8125 26.875 15.9139 26.875 14.7969V8.07812C26.875 6.96113 25.9764 6.0625 24.8594 6.0625H15.4531C14.3361 6.0625 13.4375 6.96113 13.4375 8.07812ZM30.9062 7.40625C30.9062 8.14531 31.5109 8.75 32.25 8.75H36.2812C37.0203 8.75 37.625 8.14531 37.625 7.40625C37.625 6.66719 37.0203 6.0625 36.2812 6.0625H32.25C31.5109 6.0625 30.9062 6.66719 30.9062 7.40625ZM30.9062 15.4688C30.9062 16.2078 31.5109 16.8125 32.25 16.8125H36.2812C37.0203 16.8125 37.625 16.2078 37.625 15.4688C37.625 14.7297 37.0203 14.125 36.2812 14.125H32.25C31.5109 14.125 30.9062 14.7297 30.9062 15.4688ZM13.4375 23.5312C13.4375 24.2703 14.0422 24.875 14.7812 24.875H36.2812C37.0203 24.875 37.625 24.2703 37.625 23.5312C37.625 22.7922 37.0203 22.1875 36.2812 22.1875H14.7812C14.0422 22.1875 13.4375 22.7922 13.4375 23.5312ZM13.4375 31.5938C13.4375 32.3328 14.0422 32.9375 14.7812 32.9375H36.2812C37.0203 32.9375 37.625 32.3328 37.625 31.5938C37.625 30.8547 37.0203 30.25 36.2812 30.25H14.7812C14.0422 30.25 13.4375 30.8547 13.4375 31.5938Z" fill="#1C1C1F"/>
				</svg>
				Berita Terbaru
			</h2>
			<div class="bg-white border border-black/15 rounded-3xl p-10 flex flex-col items-center gap-7">
				<div class="grid grid-rows-6 grid-cols-8 gap-4 relative max-h-[900px]">
					{newsItems.map(news => (
						<News title={news.title} content={news.content} flexDirection={news.flexDirection} colSpan={news.colSpan} rowSpan={news.rowSpan} imgSrc={news.imgSrc} year={news.year} link={news.link} />
					))}
					<div class="absolute inset-0 bg-gradient-to-b from-transparent to-white from-60% pointer-events-none"></div>
				</div>

				<a class="py-5 px-24 bg-lime-500 text-white text-xl font-semibold rounded-xl inline-block text-center cursor-pointer">
					Lihat Semua
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline size-[1em] align-[-0.1em] ml-[.07em]">
						<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
					</svg>
				</a>
			</div>
		</section>
		<section class="py-52">
			<h2 class="text-4xl font-extrabold mb-11">
				<svg viewBox="0 0 51 41" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline size-[1em] align-[-0.1em] mr-[.07em]">
					<path d="M5.7375 7.04688C5.7375 5.85754 6.20765 4.71693 7.04454 3.87594C7.88142 3.03496 9.01647 2.5625 10.2 2.5625C11.3835 2.5625 12.5186 3.03496 13.3555 3.87594C14.1923 4.71693 14.6625 5.85754 14.6625 7.04688C14.6625 8.23621 14.1923 9.37682 13.3555 10.2178C12.5186 11.0588 11.3835 11.5312 10.2 11.5312C9.01647 11.5312 7.88142 11.0588 7.04454 10.2178C6.20765 9.37682 5.7375 8.23621 5.7375 7.04688ZM5.1 19.6752C4.30312 20.5721 3.825 21.7652 3.825 23.0625C3.825 24.3598 4.30312 25.5529 5.1 26.4498V19.6752ZM16.6069 15.7273C14.2402 17.8334 12.75 20.9164 12.75 24.3438C12.75 27.0904 13.7063 29.6129 15.3 31.5908V33.3125C15.3 34.7299 14.1605 35.875 12.75 35.875H7.65C6.23953 35.875 5.1 34.7299 5.1 33.3125V31.1664C2.08781 29.725 0 26.642 0 23.0625C0 18.1057 3.99234 14.0938 8.925 14.0938H11.475C13.3875 14.0938 15.1566 14.6943 16.6069 15.7193V15.7273ZM35.7 33.3125V31.5908C37.2938 29.6129 38.25 27.0904 38.25 24.3438C38.25 20.9164 36.7598 17.8334 34.3931 15.7193C35.8434 14.6943 37.6125 14.0938 39.525 14.0938H42.075C47.0077 14.0938 51 18.1057 51 23.0625C51 26.642 48.9122 29.725 45.9 31.1664V33.3125C45.9 34.7299 44.7605 35.875 43.35 35.875H38.25C36.8395 35.875 35.7 34.7299 35.7 33.3125ZM36.3375 7.04688C36.3375 5.85754 36.8077 4.71693 37.6445 3.87594C38.4814 3.03496 39.6165 2.5625 40.8 2.5625C41.9835 2.5625 43.1186 3.03496 43.9555 3.87594C44.7923 4.71693 45.2625 5.85754 45.2625 7.04688C45.2625 8.23621 44.7923 9.37682 43.9555 10.2178C43.1186 11.0588 41.9835 11.5312 40.8 11.5312C39.6165 11.5312 38.4814 11.0588 37.6445 10.2178C36.8077 9.37682 36.3375 8.23621 36.3375 7.04688ZM45.9 19.6752V26.4578C46.6969 25.5529 47.175 24.3678 47.175 23.0705C47.175 21.7732 46.6969 20.5801 45.9 19.6832V19.6752ZM25.5 2.5625C26.8526 2.5625 28.1498 3.10245 29.1062 4.06358C30.0627 5.0247 30.6 6.32827 30.6 7.6875C30.6 9.04673 30.0627 10.3503 29.1062 11.3114C28.1498 12.2725 26.8526 12.8125 25.5 12.8125C24.1474 12.8125 22.8502 12.2725 21.8938 11.3114C20.9373 10.3503 20.4 9.04673 20.4 7.6875C20.4 6.32827 20.9373 5.0247 21.8938 4.06358C22.8502 3.10245 24.1474 2.5625 25.5 2.5625ZM19.125 24.3438C19.125 25.641 19.6031 26.8262 20.4 27.7311V20.9564C19.6031 21.8613 19.125 23.0465 19.125 24.3438ZM30.6 20.9564V27.7391C31.3969 26.8342 31.875 25.649 31.875 24.3518C31.875 23.0545 31.3969 21.8613 30.6 20.9645V20.9564ZM35.7 24.3438C35.7 27.9232 33.6122 31.0063 30.6 32.4477V35.875C30.6 37.2924 29.4605 38.4375 28.05 38.4375H22.95C21.5395 38.4375 20.4 37.2924 20.4 35.875V32.4477C17.3878 31.0063 15.3 27.9232 15.3 24.3438C15.3 19.3869 19.2923 15.375 24.225 15.375H26.775C31.7077 15.375 35.7 19.3869 35.7 24.3438Z" fill="#1C1C1F"/>
				</svg>
				Populasi
			</h2>
			<div class="grid grid-cols-2 grid-row-2 gap-8">
				<div class="py-14 rounded-3xl flex justify-center items-center gap-2 bg-white border border-black/15 shadow-[0_15px_16px_-15px] shadow-black/10">
					<svg viewBox="0 0 73 73" fill="none" xmlns="http://www.w3.org/2000/svg" class="size-16">
						<path d="M36.5 13.6875C38.3151 13.6875 40.0558 12.9665 41.3393 11.683C42.6227 10.3996 43.3438 8.65882 43.3438 6.84375C43.3438 5.02867 42.6227 3.28794 41.3393 2.00449C40.0558 0.721036 38.3151 0 36.5 0C34.6849 0 32.9442 0.721036 31.6607 2.00449C30.3773 3.28794 29.6562 5.02867 29.6562 6.84375C29.6562 8.65882 30.3773 10.3996 31.6607 11.683C32.9442 12.9665 34.6849 13.6875 36.5 13.6875ZM27.375 30.7969V69.5781C27.375 70.4857 27.7355 71.356 28.3772 71.9978C29.019 72.6395 29.8893 73 30.7969 73C31.7044 73 32.5748 72.6395 33.2165 71.9978C33.8582 71.356 34.2188 70.4857 34.2188 69.5781V47.9062C34.2188 47.3012 34.4591 46.721 34.8869 46.2932C35.3147 45.8653 35.895 45.625 36.5 45.625C37.105 45.625 37.6853 45.8653 38.1131 46.2932C38.5409 46.721 38.7812 47.3012 38.7812 47.9062V69.5781C38.7812 70.4857 39.1418 71.356 39.7835 71.9978C40.4252 72.6395 41.2956 73 42.2031 73C43.1107 73 43.981 72.6395 44.6228 71.9978C45.2645 71.356 45.625 70.4857 45.625 69.5781V30.7969C45.625 30.4944 45.7452 30.2042 45.9591 29.9903C46.173 29.7764 46.4631 29.6562 46.7656 29.6562C47.0681 29.6562 47.3583 29.7764 47.5722 29.9903C47.7861 30.2042 47.9062 30.4944 47.9062 30.7969V42.2031C47.9062 43.1107 48.2668 43.981 48.9085 44.6228C49.5502 45.2645 50.4206 45.625 51.3281 45.625C52.2357 45.625 53.106 45.2645 53.7478 44.6228C54.3895 43.981 54.75 43.1107 54.75 42.2031V29.6562C54.75 26.0261 53.3079 22.5446 50.741 19.9777C48.1741 17.4108 44.6926 15.9688 41.0625 15.9688H31.9375C28.3073 15.9688 24.8259 17.4108 22.259 19.9777C19.6921 22.5446 18.25 26.0261 18.25 29.6562V42.2031C18.25 43.1107 18.6105 43.981 19.2522 44.6228C19.894 45.2645 20.7643 45.625 21.6719 45.625C22.5794 45.625 23.4498 45.2645 24.0915 44.6228C24.7332 43.981 25.0938 43.1107 25.0938 42.2031V30.7969C25.0938 30.4944 25.2139 30.2042 25.4278 29.9903C25.6417 29.7764 25.9319 29.6562 26.2344 29.6562C26.5369 29.6562 26.827 29.7764 27.0409 29.9903C27.2548 30.2042 27.375 30.4944 27.375 30.7969Z" fill="#31A8FF"/>
					</svg>
					<p class="text-4xl font-semibold">76,569+</p>
				</div>
				<div class="py-14 rounded-3xl flex justify-center items-center gap-2 bg-white border border-black/15 shadow-[0_15px_16px_-15px] shadow-black/10">
					<svg viewBox="0 0 73 73" fill="none" xmlns="http://www.w3.org/2000/svg" class="size-16">
						<path d="M36.5002 13.6875C38.3153 13.6875 40.056 12.9665 41.3395 11.683C42.6229 10.3996 43.344 8.65882 43.344 6.84375C43.344 5.02867 42.6229 3.28794 41.3395 2.00449C40.056 0.721036 38.3153 0 36.5002 0C34.6851 0 32.9444 0.721036 31.6609 2.00449C30.3775 3.28794 29.6565 5.02867 29.6565 6.84375C29.6565 8.65882 30.3775 10.3996 31.6609 11.683C32.9444 12.9665 34.6851 13.6875 36.5002 13.6875ZM34.219 69.5781V54.75H38.7815V69.5781C38.7815 70.4857 39.142 71.356 39.7837 71.9978C40.4254 72.6395 41.2958 73 42.2033 73C43.1109 73 43.9812 72.6395 44.623 71.9978C45.2647 71.356 45.6252 70.4857 45.6252 69.5781V54.75H50.1877L45.6252 31.9375V30.9566C45.6216 30.6403 45.7334 30.3335 45.9398 30.0937C46.1461 29.8539 46.4327 29.6976 46.746 29.6539C47.0593 29.6103 47.3778 29.6824 47.6418 29.8566C47.9058 30.0309 48.0972 30.2954 48.1802 30.6007L51.7983 43.2708C52.0433 44.096 52.6061 44.7901 53.3629 45.2004C53.7377 45.4035 54.1487 45.5309 54.5727 45.5752C54.9966 45.6195 55.4252 45.5798 55.8338 45.4585C56.2424 45.3371 56.6231 45.1365 56.9542 44.868C57.2853 44.5996 57.5603 44.2685 57.7634 43.8938C57.9666 43.5191 58.0939 43.108 58.1382 42.684C58.1825 42.2601 58.1428 41.8316 58.0215 41.4229L53.1624 25.6321C52.3017 22.8337 50.5662 20.385 48.2111 18.6457C45.8559 16.9064 43.005 15.9682 40.0772 15.9688H32.9232C29.9954 15.9682 27.1445 16.9064 24.7894 18.6457C22.4342 20.385 20.6987 22.8337 19.838 25.6321L14.9789 41.4229C14.8576 41.8319 14.818 42.2607 14.8624 42.6849C14.9068 43.1091 15.0343 43.5205 15.2376 43.8954C15.441 44.2704 15.7162 44.6016 16.0476 44.8702C16.379 45.1387 16.76 45.3394 17.1689 45.4608C17.5778 45.5821 18.0066 45.6217 18.4309 45.5773C18.8551 45.5329 19.2664 45.4054 19.6414 45.202C20.0163 44.9986 20.3475 44.7234 20.6161 44.3921C20.8847 44.0607 21.0854 43.6797 21.2067 43.2708L24.8248 30.6007C24.9078 30.2954 25.0992 30.0309 25.3632 29.8566C25.6272 29.6824 25.9456 29.6103 26.2589 29.6539C26.5722 29.6976 26.8589 29.8539 27.0652 30.0937C27.2715 30.3335 27.3834 30.6403 27.3798 30.9566V31.9375L22.8173 54.75H27.3798V69.5781C27.3798 70.4857 27.7403 71.356 28.382 71.9978C29.0237 72.6395 29.8941 73 30.8016 73C31.7092 73 32.5795 72.6395 33.2213 71.9978C33.863 71.356 34.219 70.4857 34.219 69.5781Z" fill="#E83239"/>
					</svg>
					<p class="text-4xl font-semibold">74,906+</p>
				</div>
				<div class="col-span-2 py-14 rounded-3xl flex justify-center items-center gap-9 bg-white border border-black/15 shadow-[0_15px_16px_-15px] shadow-black/10">
					<svg viewBox="0 0 89 71" fill="none" xmlns="http://www.w3.org/2000/svg" class="size-16">
						<path d="M20.025 0C22.9755 0 25.8052 1.1688 27.8916 3.24928C29.9779 5.32977 31.15 8.1515 31.15 11.0938C31.15 14.036 29.9779 16.8577 27.8916 18.9382C25.8052 21.0187 22.9755 22.1875 20.025 22.1875C17.0745 22.1875 14.2448 21.0187 12.1584 18.9382C10.0721 16.8577 8.9 14.036 8.9 11.0938C8.9 8.1515 10.0721 5.32977 12.1584 3.24928C14.2448 1.1688 17.0745 0 20.025 0ZM71.2 0C74.1505 0 76.9802 1.1688 79.0666 3.24928C81.1529 5.32977 82.325 8.1515 82.325 11.0938C82.325 14.036 81.1529 16.8577 79.0666 18.9382C76.9802 21.0187 74.1505 22.1875 71.2 22.1875C68.2495 22.1875 65.4198 21.0187 63.3334 18.9382C61.2471 16.8577 60.075 14.036 60.075 11.0938C60.075 8.1515 61.2471 5.32977 63.3334 3.24928C65.4198 1.1688 68.2495 0 71.2 0ZM0 41.4213C0 33.2535 6.64719 26.625 14.838 26.625H20.7759C22.987 26.625 25.0869 27.1104 26.9781 27.9701C26.7973 28.9686 26.7139 30.0086 26.7139 31.0625C26.7139 36.3598 29.0502 41.1162 32.7353 44.375C32.7075 44.375 32.6797 44.375 32.638 44.375H2.96203C1.335 44.375 0 43.0438 0 41.4213ZM56.362 44.375C56.3342 44.375 56.3064 44.375 56.2647 44.375C59.9637 41.1162 62.2861 36.3598 62.2861 31.0625C62.2861 30.0086 62.1887 28.9824 62.0219 27.9701C63.9131 27.0965 66.013 26.625 68.2241 26.625H74.162C82.3528 26.625 89 33.2535 89 41.4213C89 43.0576 87.665 44.375 86.038 44.375H56.362ZM31.15 31.0625C31.15 27.5318 32.5565 24.1457 35.0601 21.6491C37.5637 19.1526 40.9594 17.75 44.5 17.75C48.0406 17.75 51.4363 19.1526 53.9399 21.6491C56.4435 24.1457 57.85 27.5318 57.85 31.0625C57.85 34.5932 56.4435 37.9793 53.9399 40.4759C51.4363 42.9724 48.0406 44.375 44.5 44.375C40.9594 44.375 37.5637 42.9724 35.0601 40.4759C32.5565 37.9793 31.15 34.5932 31.15 31.0625ZM17.8 67.2975C17.8 57.0912 26.102 48.8125 36.337 48.8125H52.663C62.898 48.8125 71.2 57.0912 71.2 67.2975C71.2 69.3359 69.5452 71 67.487 71H21.513C19.4687 71 17.8 69.3498 17.8 67.2975Z" fill="#1C1C1F"/>
					</svg>
					<p class="text-4xl font-semibold">151,475+</p>
				</div>
			</div>
		</section>
		<section>
			<h2 class="text-4xl font-extrabold mb-11">
				<svg viewBox="0 0 37 49" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline size-[1em] align-[-0.1em] mr-[.07em]">
					<path d="M3.08346 3.0625C3.08346 1.36855 4.46133 0 6.1668 0H30.8335C32.5389 0 33.9168 1.36855 33.9168 3.0625C33.9168 4.75645 32.5389 6.125 30.8335 6.125H27.991L29.0894 20.3082C32.6256 22.2127 35.4199 25.3996 36.7496 29.3713L36.846 29.6584C37.1639 30.5963 37.0001 31.6203 36.422 32.4146C35.8439 33.209 34.9092 33.6875 33.9168 33.6875H3.08346C2.09102 33.6875 1.16602 33.2186 0.578255 32.4146C-0.00950508 31.6107 -0.163672 30.5867 0.154297 29.6584L0.250651 29.3713C1.58034 25.3996 4.37461 22.2127 7.91081 20.3082L9.00924 6.125H6.1668C4.46133 6.125 3.08346 4.75645 3.08346 3.0625ZM15.4168 36.75H21.5835V45.9375C21.5835 47.6314 20.2056 49 18.5001 49C16.7947 49 15.4168 47.6314 15.4168 45.9375V36.75Z" fill="#1C1C1F"/>
				</svg>
				Visi & Misi
			</h2>
			<div class="flex gap-9">
				<div class="flex-1 h-[500px] px-10 py-8 bg-white rounded-3xl border border-black/15 shadow-[0_15px_16px_-15px] shadow-black/10">
					<h3 class="text-2xl font-bold text-center mb-4">Visi</h3>
					<hr class="border-[#D9D9D9] h-0.5">
					<p class="text-gray-100 text-center mt-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea cupiditate odit dignissimos eaque, laudantium animi repellat doloribus, tempore quam neque sit deleniti fugiat ratione ullam labore id eveniet consectetur cum.</p>
				</div>
				<div class="flex-1 h-[500px] px-10 py-8 bg-white rounded-3xl border border-black/15 shadow-[0_15px_16px_-15px] shadow-black/10">
					<h3 class="text-2xl font-bold text-center mb-4">Misi</h3>
					<hr class="border-[#D9D9D9] h-0.5">
					<p class="text-gray-100 text-center mt-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea cupiditate odit dignissimos eaque, laudantium animi repellat doloribus, tempore quam neque sit deleniti fugiat ratione ullam labore id eveniet consectetur cum.</p>
				</div>
			</div>
		</section>
		<section class="py-52">
			<h2 class="text-4xl font-extrabold mb-11">
				<svg viewBox="0 0 36 48" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline size-[1em] align-[-0.1em] mr-[.07em]">
					<path d="M20.2219 46.8C25.0312 40.7812 36 26.1938 36 18C36 8.0625 27.9375 0 18 0C8.0625 0 0 8.0625 0 18C0 26.1938 10.9688 40.7812 15.7781 46.8C16.9312 48.2344 19.0688 48.2344 20.2219 46.8ZM18 12C19.5913 12 21.1174 12.6321 22.2426 13.7574C23.3679 14.8826 24 16.4087 24 18C24 19.5913 23.3679 21.1174 22.2426 22.2426C21.1174 23.3679 19.5913 24 18 24C16.4087 24 14.8826 23.3679 13.7574 22.2426C12.6321 21.1174 12 19.5913 12 18C12 16.4087 12.6321 14.8826 13.7574 13.7574C14.8826 12.6321 16.4087 12 18 12Z" fill="#1C1C1F"/>
				</svg>
				Wisata
			</h2>
			<div class="grid grid-cols-3 gap-4">
				{tourismItems.map(tourism => (
					<Tourism title={tourism.title} content={tourism.content} imgSrc={tourism.imgSrc} rate={tourism.rate}/>
				))}
			</div>
		</section>
	</main>
</Page>